div {
  justify-content: center;
  text-align: center;
}

.gridContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

cdk-virtual-scroll-viewport {
  margin-top: 5vh;
  height: 70vh;
}
