<form class="example-form">
  <mat-form-field class="example-full-width" style="width: 300px">
    <mat-label>Search</mat-label>
      <input matInput
             ngModel
             #searchField
             name="searchField"
             (input)=filterByEmail(searchField.value)
      >
      <mat-hint>.net</mat-hint>
  </mat-form-field>
  <mat-form-field >
    <mat-label>Filter</mat-label>
    <mat-select>
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
