<router-outlet></router-outlet>

<div class="grid-container">
  <h1 class="mat-h1">👽👽👽👽👽👾👾👾👾👾👾👾👾👾👾🛸🛸🛸🛸🛸🛸🛸🛸🛸🛸</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let user of users; let index = index" style="text-align: center" >
      <mat-card class="dashboard-user" >
        <mat-card-header >
          <mat-card-title  >
            {{user.name}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon color="accent">build</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item (click)="editUser(user)">Edit</button>
                <button mat-menu-item (click)="removeUser(index)">Remove</button>
              </mat-menu>

            <mat-card-subtitle>{{user.username}}</mat-card-subtitle>

          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-user-content">

          <div>
            Email: {{user.email}} {{user.address.street}}<br>
            Company: {{user.company.name}}
            bs: {{user.company.bs}}<br>
            catchPhrase: {{user.company.catchPhrase}}<br>
            City: {{user.address.city}}<br>
            Phone: {{user.phone}}<br>
            Suite: {{user.address.suite}}<br>
            Website: {{user.website}}<br>
            Zipcode: {{user.address.zipcode}}<br>
          </div>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
