<ul class="nav nav-tabs sticky-top bg-light">
  <li class="nav-item" routerLinkActive="active" >
    <a class="nav-link " routerLink="/home">Home</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="users">Users</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/allPosts">Posts</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/allComments">Comments</a>
  </li>
</ul>
