<div class="containter">
  <div class="card d-inline-block w-50 " style="height: 200px; overflow: scroll" *ngFor="let comment of allCommentsArray">
    <div class="card-body">
      <h4 class="card-title" *ngIf="isShorten">{{comment.body | slice:0:25}}
        <span><a style="cursor: pointer; color: aqua" (click)="showMore()">...</a></span> </h4>
      <h4 class="card-title" *ngIf="!isShorten">{{comment.body}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{comment.email}}</h6>
      <p class="card-text" *ngIf="isShorten">
        {{comment.body | slice:0:100}}
        <span (click)="showMore()">...<a style="cursor: pointer; color: aqua">show more</a></span>
      </p>
      <p class="card-text" *ngIf="!isShorten">
        {{comment.body}}
      </p>
    </div>
  </div>
</div>
